<div>
  <h2>Create Customer</h2>
  <div class="field">
    <label for="firstName">Name</label>
    <input
      id="firstName"
      pInputText
      placeholder="Jane"
      type="text"
      class="w-full">
    </div>
    <div class="field">
    <label for="email" class="mt-3">Email</label>
    <input
      id="email"
      pInputText
      placeholder="Jane@example.com"
      type="email"
      class="w-full">
    </div>
  <div class="field">
    <label for="age" class="mt-3">Age</label>
    <input
      id="age"
      pInputText
      placeholder="43"
      type="number"
      class="w-full">
  </div>
  <div class="field">
    <label for="password" class="mt-3">Password</label>
    <input
      id="password"
      pInputText
      placeholder="Enter valid password"
      type="password"
      class="w-full">
  </div>
  <div class="field">
    <label for="gender" class="mt-3">Gender</label>
    <select id="gender" class="p-dropdown w-full custom-select">
      <option>Select an option</option>
      <option>MALE</option>
      <option>FEMALE</option>
    </select>
    </div>
  <button pButton label="Submit" class="w-full m-2 mt-4"></button>
  <button pButton label="Cancel" class="p-button-outlined p-button-danger w-full m-2"></button>
</div>
